*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

.container{
   padding: 0 90px;
}

.box{
   margin: auto;
   margin-top: 20px;
   width: 500px;
   height: 200px;
   border: 1px solid green;
   /*background*/
   background-image: url("https://picsum.photos/200/300");
   background-repeat: no-repeat;
   /*background-size: contain;*/
   background-position:bottom 20px right 50px ;
}



.img{
   border: 1px solid red;
   width: 400px;
   height: 90px;
   object-fit: none;
   }

   .text h1{
      font-size: 50px;
      background: radial-gradient( red 0% , yellow 50% ,  blue 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }

   .products{
      margin-top: 30px;
      margin-bottom: 30px;
   }

   .card{
      width: 150px;
      height: 200px;
      /*border: 1px solid red;*/
      border-radius: 7px;
      transition: box-shadow .5s ease-in-out;
      box-shadow:  0px 10px 10px  red;
   }
   .card:hover{
      box-shadow: 0px 0px 10px red;
   }
